<app-home-page></app-home-page>
<!-- <ul>
  <li><a class="active" href="#home">Tutoring</a></li>
  <li><a href="#news">Test Prep</a></li>
  <li><a href="#contact">Classes</a></li>
  <li><a href="#about">About us</a></li>
  <p class="toolbar_number">919-592-0819</p>
</ul>
-->
<!-- <mat-card class="card">

  <mat-form-field appearance="fill">
  <mat-label>Enter your email</mat-label>
  <input matInput placeholder="pat@example.com" [formControl]="email" required>
  <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
</mat-form-field>


</mat-card> --> 