
<div class="top-nav-bar">
   
    <h1>Website Name</h1>
    <ul>
        <li><a class="active" href="#home">Home</a></li>
        <li><a href="app-tutor-page">Our Tutors</a></li>
        <li><a href="#contact">Book an appointment</a></li>
        <li><a href="#about">About Us</a></li>

        
      </ul>

</div>
      <div class="paralax">
      <p class="quote">{{quote}}</p>
<p class="author">{{author}}</p>
</div>





<div class="s">

    <h2>Tutoring for Middle to College Students</h2>

    <div class="allign">

  
    <div class="left-image">
    <img src="https://images.squarespace-cdn.com/content/v1/5e0eb2ed2c9a2e5ea24bf8b2/1578026595251-8UZU292IXHGCGI0TWACQ/Adjustments.jpeg?format=1000w" class="img">
    <p class="caption">Mathematics & Science Experience</p>
    <p class="paragraph"> 

        I have been tutoring students in various levels of mathematics for over 14 years. I am knowledgeable in a variety of math topics, including elementary school mathematics, Common Core mathematics, Algebra, Geometry, Trigonometry, PreCalculus, Calculus, and Differential equations. I recently took the Mathematics Content Knowledge Praxis exam (5161) and earned a score of 196 out of 200!






    </p>
</div>

<div class="center-image">
<img src="https://images.squarespace-cdn.com/content/v1/5e0eb2ed2c9a2e5ea24bf8b2/1578026996266-NRCWGK2QOGUUGV7DKFIG/IMG_0295.jpeg?format=1000w"  class="img">
<p class="caption">Full Dev Courses</p>
<p class="paragraph">We currently have openings for a 6 week, 1-on-1 or group session summer course to prep any student for the SAT or ACT. The 1-on-1 sessions will occur twice a week for 2 hours at a time on Mondays and Wednesdays  and can be done at your home, the library, or virtually. Tuesdays and Thursdays will be reserved for group sessions that will also be for 2 hours at a time, and these sessions will take place in the library. Please feel free to inquire to us, and we will be more than happy to assist you with any questions!</p>
</div>


<div class="right-image">
<img src="https://images.squarespace-cdn.com/content/v1/5e0eb2ed2c9a2e5ea24bf8b2/1578026488117-WNE3A7DHVMF3HMGRSL7R/IMG_0294.jpeg?format=1000w" class="img">
<p class="caption">Our Promise To You</p>
<p class="paragraph">Through our personalized way of tutoring, We promise we will do everything within our power to make sure you achieve your goals in Math, English, and History. We will continuously strive to make sure each student feels confident and ready to take on any academic challenge that they face. We are excited to begin working with your child or children to discover skills they did not even know they had and together we will be a powerhouse of mental fortitude. We are very excited about being your academic guide!</p>

<div>
</div>
</div>







