
<div class="top-nav-bar">
   
    <h1>Website Name</h1>
    <ul>
        <li><a class="active" href="#home">Home</a></li>
        <li><a href="#news">Our Tutors</a></li>
        <li><a href="#contact">Book an appointment</a></li>
        <li><a href="#about">About Us</a></li>

        
      </ul>

</div>
      <div class="paralax">
      <p class="quote">{{quote}}</p>
<p class="author">{{author}}</p>
</div>





<div class="s">
    <h1>Why Choose Us?</h1>

    <div class="allign">

  
    <div class="left-image">
    <img src="https://images.squarespace-cdn.com/content/v1/5e0eb2ed2c9a2e5ea24bf8b2/1578026595251-8UZU292IXHGCGI0TWACQ/Adjustments.jpeg?format=1000w" class="img">
    <p>Maths & Science</p>
</div>

<div class="center-image">
<img src="https://images.squarespace-cdn.com/content/v1/5e0eb2ed2c9a2e5ea24bf8b2/1578026996266-NRCWGK2QOGUUGV7DKFIG/IMG_0295.jpeg?format=1000w"  class="img">
<p>Maths & Science</p>
</div>


<div class="right-image">
<img src="https://images.squarespace-cdn.com/content/v1/5e0eb2ed2c9a2e5ea24bf8b2/1578026488117-WNE3A7DHVMF3HMGRSL7R/IMG_0294.jpeg?format=1000w" class="img">
<p>Maths & Science</p>
<div>
</div>
</div>



